@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Theme variables
*/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --background-dark: 222.2 84% 4.9%;
    --foreground-dark: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --card-dark: 222.2 84% 4.9%;
    --card-foreground-dark: 210 40% 98%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --popover-dark: 222.2 84% 4.9%;
    --popover-foreground-dark: 210 40% 98%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --primary-dark: 210 40% 98%;
    --primary-foreground-dark: 222.2 47.4% 11.2%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-dark: 217.2 32.6% 17.5%;
    --secondary-foreground-dark: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted-dark: 217.2 32.6% 17.5%;
    --muted-foreground-dark: 215 20.2% 65.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --accent-dark: 217.2 32.6% 17.5%;
    --accent-foreground-dark: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive-dark: 0 62.8% 30.6%;
    --destructive-foreground-dark: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --border-dark: 217.2 32.6% 17.5%;
    --input-dark: 217.2 32.6% 17.5%;
    --ring-dark: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

/*
  Theme switching based on this tweet from Devon Govett
  https://twitter.com/devongovett/status/1757131288144663027
*/
@layer base {
  :root {
    --theme-light: initial;
    --theme-dark: ;
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --theme-light: ;
      --theme-dark: initial;
    }
  }

  [data-theme="light"] {
    --theme-light: initial;
    --theme-dark: ;
    color-scheme: light;
  }

  [data-theme="dark"] {
    --theme-light: ;
    --theme-dark: initial;
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
